# Slack webhook URL to report calls to
SLACK_WEBHOOK_URL="https://hooks.slack.example.com/services/XXX"
# Port to listen on
PORT="3000"
# Twilio authentication, can be obtained from the Twilio dashboard
TWILIO_SID="AC[...]"
TWILIO_TOKEN="[...]"
# URL to fetch hold music from
HOLD_MUSIC="http://api.twilio.com/cowbell.mp3"
# Will be determined automatically if not set
ROOT_URL=""
# Generate via "pnpm pwgen"
ADMIN_PASS=""
# Comma separated values
TEAMS="Sales,Customer Service"