SLACK_WEBHOOK_URL="https://hooks.slack.example.com/services/XXX"
PORT="3000"
TWILIO_SID="AC[...]"
TWILIO_TOKEN="[...]"
HOLD_MUSIC="http://api.twilio.com/cowbell.mp3"
# Can just be a domain, but can also be a directory if being reverse proxied into a folder
ROOT_URL="https://example.com/reverse/proxy"